---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/normal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83e3-2h40OKH692NxbjVGxN6nw6rbUM0"
      function-execution-id:
      - 567h790ug7jh
      x-cloud-trace-context:
      - e042f54609e8f9b902376fa35bc05470;o=1
      x-country-code:
      - CL
      x-pokeapi-deploy-date:
      - '1784888984'
      x-pokeapi-hash:
      - 1b0709a398414dd7165e6135912ed8525ed51c4b
    body:
      encoding: UTF-8
      string: '{"damage_relations":{"double_damage_from":[{"name":"fighting","url":"https://<pokeapi>/api/v2/type/2/"}],"double_damage_to":[],"half_damage_from":[],"half_damage_to":[{"name":"rock","url":"https://<pokeapi>/api/v2/type/6/"},{"name":"steel","url":"https://<pokeapi>/api/v2/type/9/"}],"no_damage_from":[{"name":"ghost","url":"https://<pokeapi>/api/v2/type/8/"}],"no_damage_to":[{"name":"ghost","url":"https://<pokeapi>/api/v2/type/8/"}]},"game_indices":[{"game_index":0,"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"}},{"game_index":0,"generation":{"name":"generation-ii","url":"https://<pokeapi>/api/v2/generation/2/"}},{"game_index":0,"generation":{"name":"generation-iii","url":"https://<pokeapi>/api/v2/generation/3/"}},{"game_index":0,"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"}},{"game_index":0,"generation":{"name":"generation-v","url":"https://<pokeapi>/api/v2/generation/5/"}},{"game_index":0,"generation":{"name":"generation-vi","url":"https://<pokeapi>/api/v2/generation/6/"}},{"game_index":0,"generation":{"name":"generation-vii","url":"https://<pokeapi>/api/v2/generation/7/"}},{"game_index":0,"generation":{"name":"generation-viii","url":"https://<pokeapi>/api/v2/generation/8/"}},{"game_index":0,"generation":{"name":"generation-ix","url":"https://<pokeapi>/api/v2/generation/9/"}}],"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"},"id":1,"move_damage_class":{"name":"physical","url":"https://<pokeapi>/api/v2/move-damage-class/2/"},"moves":[{"name":"pound","url":"https://<pokeapi>/api/v2/move/1/"},{"name":"double-slap","url":"https://<pokeapi>/api/v2/move/3/"},{"name":"comet-punch","url":"https://<pokeapi>/api/v2/move/4/"},{"name":"mega-punch","url":"https://<pokeapi>/api/v2/move/5/"},{"name":"pay-day","url":"https://<pokeapi>/api/v2/move/6/"},{"name":"scratch","url":"https://<pokeapi>/api/v2/move/10/"},{"name":"vice-grip","url":"https://<pokeapi>/api/v2/move/11/"},{"name":"guillotine","url":"https://<pokeapi>/api/v2/move/12/"},{"[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fighting
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"51c3-oZOI+GbL1/Lv5PPjzHMcNQpVS70"
      function-execution-id:
      - emcv5y9z9nyn
      x-cloud-trace-context:
      - b4e8f2e206028cbbfbad5fa73fd14eeb
      x-country-code:
      - US
      x-pokeapi-dep[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/poison
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d09-Zs4mk9y15lFZdpPjE+Og/xpHL7A"
      function-execution-id:
      - dxkq6nkthdr4
      x-cloud-trace-context:
      - 737add12ee54895401b1fbc2b4494d5f
      x-country-code:
      - US
      x-orig-accept-language:
      - en-CA,en-US;q=0.9,en;q=0.8
      x-pokeapi-deploy-date:
      - '1785242118'
      x-pokeapi-hash:
      - dbef1b8570119d49b06943bc8ba6f0288d5872d5
    body:
      encoding: UTF-8
      string: '{"damage_relations":{"double_damage_from":[{"name":"ground","url":"https://<pokeapi>/api/v2/type/5/"},{"name":"psychic","url":"https://<pokeapi>/api/v2/type/14/"}],"double_damage_to":[{"name":"grass","url":"https://<pokeapi>/api/v2/type/12/"},{"name":"fairy","url":"https://<pokeapi>/api/v2/type/[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/grass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6264-jgHtvohTFbdFCeaNoifhrCQsRxE"
      function-execution-id:
      - 8fvlaaw9rssw
      x-cloud-trace-context:
      - 51abe99abc5fd8c63a4421bcc4eb471e
      x-country-code:
      - US
      x-orig-accept-la[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fire
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5275-Ppirrt98dDCs9yPtX7qJ5oSy544"
      function-execution-id:
      - evixx96fm45j
      x-cloud-trace-context:
      - ea2796d0c6db2428d34440ff7f8d9d15
      x-country-code:
      - US
      x-orig-accept-lan[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f0c-LU5o3wjkEWz6bbt0yqgiWuz+S0o"
      function-execution-id:
      - 1o7uj8ttpweu
      x-cloud-trace-context:
      - 3d04db1d581968bc6a58c4973d2f5684
      x-country-code:
      - US
      x-orig-accept-lang[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ground
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44d9-VixI+XyC8FRXaxV9OdocWD854Ws"
      function-execution-id:
      - 8fvle31mnx19
      x-cloud-trace-context:
      - 0ed17ace5cb248b3b6524de489cec4dd
      x-country-code:
      - US
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/flying
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5983-yLH4LknYeLAafQdka1W13Lu3jck"
      function-execution-id:
      - kvfclbwhhy0z
      x-cloud-trace-context:
      - e57399c3e80e9ccdbe9b8c386ab02ad9
      x-country-code:
      - BR
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"472d-Gf1qLokWmboFjdAESaDcTSgMxK8"
      function-execution-id:
      - awrm5yuzgoqg
      x-cloud-trace-context:
      - a10ceda34335e1a413145769a25ffebd
      x-country-code:
      - BR
      x-orig-accept-lan[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/psychic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"634c-xLpmblEyKEu4YIii+6ejWnksCCc"
      function-execution-id:
      - rs79qchx9fh0
      x-cloud-trace-context:
      - c3c9560fae5e244f80c61806ca13e706
      x-country-code:
      - US
      x-orig-accept-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ghost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4bef-NpqUMBew32BSfvnfn1L+yjubCfc"
      function-execution-id:
      - bvrn0imrjvio
      x-cloud-trace-context:
      - c68505863ac1cbbc6c7dcaa87739c16a
      x-country-code:
      - US
      x-pokeapi-deploy[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/steel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f4a-xj7h4rXuMRvPsQzMRfEs7yqym4g"
      Function-Execution-Id:
      - ykh9q0ieyz01
      X-Cloud-Trace-Context:
      - fc74672ec967323c372394bb78403576
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
      X-Pokeapi-Deploy-Date:
      - '1784888984'
      X-Pokeapi-Hash:
      - 1b0709a398414dd7165e6135912ed8525ed51c4b
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkYW1hZ2VfcmVsYXRpb25zIjp7ImRvdWJsZV9kYW1hZ2VfZnJvbSI6W3sibmFtZSI6ImZpZ2h0aW5nIiwidXJsIjoiaHR0cHM6Ly88cG9rZWFwaT4vYXBpL3YyL3R5cGUvMi8ifSx7Im5hbWUiOiJncm91bmQiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvdHlwZS81LyJ9LHsibmFtZSI6ImZpcmUiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvdHlwZS8xMC8ifV0sImRvdWJsZV9kYW1hZ2VfdG8iOlt7Im5hbWUiOiJyb2NrIiwidXJsIjoiaHR0cHM6Ly88cG9rZWFwaT4vYXBp[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dark
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dce-YpGennTPzC+gilEh/kMdWjAc4zo"
      Function-Execution-Id:
      - jtypdfcdj69c
      X-Cloud-Trace-Context:
      - ad8cee9149548cdd4877546365ed768d
      X-Country-Code:
      - US
      X-Pokeapi-Deploy-[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cbb-ZVsDpCnfZxX2QhDXFWB7P5iZ1og"
      Function-Execution-Id:
      - eu50qob652j2
      X-Cloud-Trace-Context:
      - abd357b6c92e3e012a5c9e3312309940
      X-Country-Code:
      - US
      X-Pokeapi-Deplo[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5036-YrflmZXIZk7KGi43iPD/aXKQPMM"
      Function-Execution-Id:
      - ojcbi3yxtwtx
      X-Cloud-Trace-Context:
      - 612ebd3b00c98a8e413d71c5b4c3237e
      X-Country-Code:
      - US
      X-Orig-Accept[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/bug
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d51-Mlfy+UVb2mw+9vPnE9Q4fVyEwdE"
      Function-Execution-Id:
      - oyf3jh2bdm9t
      X-Cloud-Trace-Context:
      - f1e5c6943cfefa0c3e6d35bd5d004db1
      X-Country-Code:
      - BR
      X-Orig-Accept-Lang[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/water
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ace-A3Qf5etLdqxhZ+pWvr91/lLbUIw"
      Function-Execution-Id:
      - flpw09hde2er
      X-Cloud-Trace-Context:
      - d1dbddbaa150079d4467161d05bab283
      X-Country-Code:
      - US
      X-Pokeapi-Deploy[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fairy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c93-nukFjMu+3OHbmBBVFMWjUEBk7k8"
      Function-Execution-Id:
      - whla78ogmhvo
      X-Cloud-Trace-Context:
      - b2c2bacbd08b590d979e6493195c6a8d
      X-Country-Code:
      - US
      X-Orig-Accept-La[...]
[...]
