---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fighting
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"51c3-oZOI+GbL1/Lv5PPjzHMcNQpVS70"
      function-execution-id:
      - emcv5y9z9nyn
      x-cloud-trace-context:
      - b4e8f2e206028cbbfbad5fa73fd14eeb
      x-country-code:
      - US
      x-pokeapi-deploy-date:
      - '1784888984'
      x-pokeapi-hash:
      - 1b0709a398414dd7165e6135912ed8525ed51c4b
    body:
      encoding: UTF-8
      string: '{"damage_relations":{"double_damage_from":[{"name":"flying","url":"https://<pokeapi>/api/v2/type/3/"},{"name":"psychic","url":"https://<pokeapi>/api/v2/type/14/"},{"name":"fairy","url":"https://<pokeapi>/api/v2/type/18/"}],"double_damage_to":[{"name":"normal","url":"https://<pokeapi>/api/v2/type/1/"},{"name":"rock","url":"https://<pokeapi>/api/v2/type/6/"},{"name":"steel","url":"https://<pokeapi>/api/v2/type/9/"},{"name":"ice","url":"https://<pokeapi>/api/v2/type/15/"},{"name":"dark","url":"https://<pokeapi>/api/v2/type/17/"}],"half_damage_from":[{"name":"rock","url":"https://<pokeapi>/api/v2/type/6/"},{"name":"bug","url":"https://<pokeapi>/api/v2/type/7/"},{"name":"dark","url":"https://<pokeapi>/api/v2/type/17/"}],"half_damage_to":[{"name":"flying","url":"https://<pokeapi>/api/v2/type/3/"},{"name":"poison","url":"https://<pokeapi>/api/v2/type/4/"},{"name":"bug","url":"https://<pokeapi>/api/v2/type/7/"},{"name":"psychic","url":"https://<pokeapi>/api/v2/type/14/"},{"name":"fairy","url":"https://<pokeapi>/api/v2/type/18/"}],"no_damage_from":[],"no_damage_to":[{"name":"ghost","url":"https://<pokeapi>/api/v2/type/8/"}]},"game_indices":[{"game_index":1,"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"}},{"game_index":1,"generation":{"name":"generation-ii","url":"https://<pokeapi>/api/v2/generation/2/"}},{"game_index":1,"generation":{"name":"generation-iii","url":"https://<pokeapi>/api/v2/generation/3/"}},{"game_index":1,"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"}},{"game_index":1,"generation":{"name":"generation-v","url":"https://<pokeapi>/api/v2/generation/5/"}},{"game_index":1,"generation":{"name":"generation-vi","url":"https://<pokeapi>/api/v2/generation/6/"}},{"game_index":1,"generation":{"name":"generation-vii","url":"https://<pokeapi>/api/v2/generation/7/"}},{"game_index":1,"generation":{"name":"generation-viii","url":"https://<pokeapi>/api/v2/generation/8/"}},{"game_index":1,"generation":{"name":"generation-ix","url":"https://<pokeapi>/api/v2/generation/9/"}}],"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"},"id":2,"move_damage_class":{"name":"physical","url":"https://<pokeapi>/api/v2/move-damage-class/2/"},"moves":[{"name":"karate-chop","url":"https://<pokeapi>/api/v2/move/2/"},{"name":"double-kick","url":"https://<pokeapi>/api/v2/move/24/"},{"name":"jump-kick","url":"https://<pokeapi>/api/v2/move/26/"},{"name":"rolling-kick","url":"https://<pokeapi>/api/v2/move/27/"},{"name":"submission","url":"https://<pokeapi>/api/v2/move/66/"},{"name":"low-kick","url":"https://<pokeapi>/api/v2/move/67/"},{"name":"counter","url":"https://<pokeapi>/api/v2/move/68/"},{"name":"seismic-toss","url":"https://<pokeapi>/api/v2[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f0c-LU5o3wjkEWz6bbt0yqgiWuz+S0o"
      function-execution-id:
      - 1o7uj8ttpweu
      x-cloud-trace-context:
      - 3d04db1d581968bc6a58c4973d2f5684
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.5
      x-pokeapi-deploy-date:
      - '1784943005'
      x-pokeapi-hash:
      - c8855a2af7402847b9bc97f940da75990498cf61
    body:
      encoding: UTF-8
      string: '{"damage_relations":{"double_damage_from":[{"name":"fighting","url":"https://<pokeapi>/api/v2/type/2/"},{"name":"rock","url":"https://<pokeapi>/api/v2/type/6/"},{"name":"steel","url":"https://<pokeapi>/api/v2/type/9/"},{"name":"fire","url":"https://<pokeapi>/api/v2/type/10/"}],"double_damage_to":[{"name":"f[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/water
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6ace-A3Qf5etLdqxhZ+pWvr91/lLbUIw"
      function-execution-id:
      - flpw09hde2er
      x-cloud-trace-context:
      - d1dbddbaa150079d4467161d05bab283
      x-country-code:
      - US
      x-pokeapi-deploy[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fire
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5275-Ppirrt98dDCs9yPtX7qJ5oSy544"
      function-execution-id:
      - xnf2sxu25c6h
      x-cloud-trace-context:
      - dabb2be7e3cdbd4a2f78f63af0d011ac
      x-country-code:
      - US
      x-orig-accept-lan[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5036-YrflmZXIZk7KGi43iPD/aXKQPMM"
      function-execution-id:
      - awrmgj8wnqlg
      x-cloud-trace-context:
      - d4ef81a3938a01f47cc91f5ee7bc3931
      x-country-code:
      - US
      x-orig-accept[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/poison
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d09-Zs4mk9y15lFZdpPjE+Og/xpHL7A"
      function-execution-id:
      - dxkq6nkthdr4
      x-cloud-trace-context:
      - 737add12ee54895401b1fbc2b4494d5f
      x-country-code:
      - US
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ground
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44d9-VixI+XyC8FRXaxV9OdocWD854Ws"
      function-execution-id:
      - 6ub520cje39x
      x-cloud-trace-context:
      - 3c53902de80df18a015808729aec12c6
      x-country-code:
      - BR
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"472d-Gf1qLokWmboFjdAESaDcTSgMxK8"
      function-execution-id:
      - awrm5yuzgoqg
      x-cloud-trace-context:
      - a10ceda34335e1a413145769a25ffebd
      x-country-code:
      - BR
      x-orig-accept-lan[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/bug
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d51-Mlfy+UVb2mw+9vPnE9Q4fVyEwdE"
      function-execution-id:
      - c5zljw3fu8on
      x-cloud-trace-context:
      - ae6c25e13d46994f9a0fedfd83430480
      x-country-code:
      - US
      x-orig-accept-lang[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/psychic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"634c-xLpmblEyKEu4YIii+6ejWnksCCc"
      function-execution-id:
      - rs79qchx9fh0
      x-cloud-trace-context:
      - c3c9560fae5e244f80c61806ca13e706
      x-country-code:
      - US
      x-orig-accept-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/flying
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5983-yLH4LknYeLAafQdka1W13Lu3jck"
      function-execution-id:
      - 0iyxq6dojs23
      x-cloud-trace-context:
      - 05bf559e6d696816ab36fa658448db58
      x-country-code:
      - US
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ghost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bef-NpqUMBew32BSfvnfn1L+yjubCfc"
      Function-Execution-Id:
      - bvrn0imrjvio
      X-Cloud-Trace-Context:
      - c68505863ac1cbbc6c7dcaa87739c16a
      X-Country-Code:
      - US
      X-Pokeapi-Deploy-Date:
      - '1784943005'
      X-Pokeapi-Hash:
      - c8855a2af7402847b9bc97f940da75990498cf61
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkYW1hZ2VfcmVsYXRpb25zIjp7ImRvdWJsZV9kYW1hZ2VfZnJvbSI6W3sibmFtZSI6Imdob3N0IiwidXJsIjoiaHR0cHM6Ly88cG9rZWFwaT4vYXBpL3YyL3R5cGUvOC8ifSx7Im5hbWUiOiJkYXJrIiwidXJsIjoiaHR0cHM6Ly88cG9rZWFwaT4vYXBpL3YyL3R5cGUvMTcvIn1dLCJkb3VibGVfZGFtYWdlX3RvIjpbeyJuYW1lIjoiZ2hvc3QiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvdHlwZS84LyJ9LHsibmFtZSI6InBzeWNoaWMiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkv[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dark
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dce-YpGennTPzC+gilEh/kMdWjAc4zo"
      Function-Execution-Id:
      - jtypdfcdj69c
      X-Cloud-Trace-Context:
      - ad8cee9149548cdd4877546365ed768d
      X-Country-Code:
      - US
      X-Pokeapi-Deploy-[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cbb-ZVsDpCnfZxX2QhDXFWB7P5iZ1og"
      Function-Execution-Id:
      - 8stmw5vfg9k8
      X-Cloud-Trace-Context:
      - cf231e178ded8a87133b8856a51814f5
      X-Country-Code:
      - ES
      X-Orig-Accept-Language:
      - fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7
      X-Pokeapi-Deploy-Date:
      - '1784888984'
      X-Pokeapi-Hash:
      - 1b0709a398414dd7165e6135912ed8525ed51c4b
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkYW1hZ2VfcmVsYXRpb25zIjp7ImRvdWJsZV9kYW1hZ2VfZnJvbSI6W3sibmFtZSI6ImljZSIsInVybCI6Imh0dHBzOi8vPHBva2VhcGk+L2FwaS92Mi90eXBlLzE1LyJ9LHsibmFtZSI6ImRyYWdvbiIsInVybCI6Imh0dHBzOi8vPHBva2VhcGk+L2FwaS92Mi90eXBlLzE2LyJ9LHsibmFtZSI6ImZhaXJ5IiwidXJsIjoiaHR0cHM6Ly88cG9rZWFw[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fairy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c93-nukFjMu+3OHbmBBVFMWjUEBk7k8"
      Function-Execution-Id:
      - whla78ogmhvo
      X-Cloud-Trace-Context:
      - b2c2bacbd08b590d979e6493195c6a8d
      X-Country-Code:
      - US
      X-Orig-Accept-La[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/steel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f4a-xj7h4rXuMRvPsQzMRfEs7yqym4g"
      Function-Execution-Id:
      - ykh9q0ieyz01
      X-Cloud-Trace-Context:
      - fc74672ec967323c372394bb78403576
      X-Country-Code:
      - US
      X-Orig-Accept-La[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/grass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6264-jgHtvohTFbdFCeaNoifhrCQsRxE"
      Function-Execution-Id:
      - 8fvlaaw9rssw
      X-Cloud-Trace-Context:
      - 51abe99abc5fd8c63a4421bcc4eb471e
      X-Country-Code:
      - US
      X-Orig-Accept-La[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/normal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83e3-2h40OKH692NxbjVGxN6nw6rbUM0"
      Function-Execution-Id:
      - clps15nzhi8o
      X-Cloud-Trace-Context:
      - 8677d3fe82e3af756db4f1fd8f1fe009;o=1
      X-Country-Code:
      - US
      X-Orig-Acce[...]
[...]
