---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/laser-focus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a13-g+gqI7kKq5pdQwqxcdV/BYA/qjY"
      function-execution-id:
      - v324soak459g
      x-cloud-trace-context:
      - e525adf431b7c34d9db299920b81ca68
      x-country-code:
      - US
      x-orig-accept-language:
      - es-US,es-419;q=0.9,es;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":673,"name":"laser-focus","accuracy":null,"effect_chance":null,"pp":30,"priority":0,"power":null,"contest_combos":null,"contest_type":null,"contest_effect":null,"damage_class":{"name":"status","url":"https://<pokeapi>/api/v2/move-damage-class/1/"},"effect_entries":[{"effect":"La
        prochaine capacité du lanceur réalisera un coup critique.","short_effect":"Garantit
        un coup critique pour la prochaine capacité du lanceur.","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"effect":"The
        user’s next move will result in a critical hit.","short_effect":"Guarantees
        a critical hit with the user’s next move.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}}],"effect_changes":[],"generation":{"name":"generation-vii","url":"https://<pokeapi>/api/v2/generation/7/"},"meta":{"ailment":{"name":"none","url":"https://<pokeapi>/api/v2/move-ailment/0/"},"category":{"name":"unique","url":"https://<pokeapi>/api/v2/move-category/13/"},"min_hits":null,"max_hits":null,"min_turns":null,"max_turns":null,"drain":0,"healing":0,"crit_rate":0,"ailment_chance":0,"flinch_chance":0,"stat_chance":0},"names":[{"name":"とぎすます","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"}},{"name":"예민해지기","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"}},{"name":"磨礪","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"}},{"name":"Affilage","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"name":"Konzentration","language":{"name":"de","url":"https://<pokeapi>/api/v2/language/6/"}},{"name":"Aguzar","language":{"name":"es","url":"https://<pokeapi>/api/v2/language/7/"}},{"name":"Concentrazione","language":{"name":"it","url":"https://<pokeapi>/api/v2/language/8/"}},{"name":"Laser
        Focus","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}},{"name":"とぎすます","language":{"name":"ja","url":"https://<pokeapi>/api/v2/language/11/"}},{"name":"磨砺","language":{"name":"zh-hans","url":"https://<pokeapi>/api/v2/language/12/"}},{"name":"Agudizar","language":{"name":"es-419","url":"https://<pokeapi>/api/v2/language/14/"}}],"past_values":[],"stat_changes":[],"super_contest_effect":null,"target":{"name":"user","url":"https://<pokeapi>/api/v2/move-target/7/"},"type":{"name":"normal","url":"https://<pokeapi>/api/v2/type/1/"},"machines":[],"flavor_text_entries":[{"flavor_text":"せいしんを　しゅうちゅうして\nつぎの　こうげきを　かならず\nきゅうしょに　あてる。","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"},"version_group":{"name":"sun-moon","url":"https://<pokeapi>/api/v2/version-group/17/"}},{"flavor_text":"정신을
        집중해서\n다음 공격을 반드시\n급소에 맞춘다.","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"},"version_group":{"name":"sun-moon","url":"https://<pokeapi>/api/v2/version-group/17/"}},{"flavor_text":"集中精神，\n下次攻擊必定會擊中要害。","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"},"version_group":{"name":"sun-moon","url":"https://<pokeapi>/api/v2/version-group/17/"}},{"flavor_text"[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/trailblaze
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7061-GG2p44R+RKc2+misuhPqo9GwE2Q"
      function-execution-id:
      - smqdtcmrm7cp
      x-cloud-trace-context:
      - 75b9a83c9ee1eb30a99e89afcc2cb2d7
      x-country-code:
      - US
      x-orig-acce[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/tera-blast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f139-BltrYduaGHliyUhZnS1OEQI/BtU"
      function-execution-id:
      - nvvccyyyl0a8
      x-cloud-trace-context:
      - 6511fa77f0af8a0d740b6dcbe81a0967
      x-country-code:
      - US
      x-orig-acce[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/alluring-voice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f8d-BHpeO3PgFpazl0LFn/CAh9qDsaI"
      function-execution-id:
      - j805ydhw42fd
      x-cloud-trace-context:
      - c71836e344ee5e02028d068c8ccf7e8b
      x-country-code:
      - CL
      x-pokea[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/chilling-water
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f05-3STqj0NasRSybqg7CZN0ls0ManA"
      Function-Execution-Id:
      - 5o55ma2yp7jz
      X-Cloud-Trace-Context:
      - 15d872d398002053bad42a718bae93ea
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpZCI6ODg2LCJuYW1lIjoiY2hpbGxpbmctd2F0ZXIiLCJhY2N1cmFjeSI6MTAwLCJlZmZlY3RfY2hhbmNlIjpudWxsLCJwcCI6MjAsInByaW9yaXR5IjowLCJwb3dlciI6NTAsImNvbnRlc3RfY29tYm9zIjpudWxsLCJjb250ZXN0X3R5cGUiOm51bGwsImNvbnRlc3RfZWZmZWN0IjpudWxsLCJkYW1hZ2VfY2xhc3MiOnsibmFtZSI6InNwZWNpYWwiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvbW92ZS1kYW1hZ2UtY2xhc3MvMy8ifSwiZWZmZWN0X2VudHJpZXMiOltdLCJlZmZlY3RfY2hh[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/psychic-noise
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"21ec-QZ/51yOG6uS2/S2iydvNMElV0f4"
      function-execution-id:
      - 5o551yyp18hh
      x-cloud-trace-context:
      - 67b9e0464fe1c8aa8f2b44122b28b144
      x-country-code:
      - US
      x-orig-a[...]
