---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/eevee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"39263-fRwlOq4fnRHV1K/ASz9AyUbtHqA"
      function-execution-id:
      - nvvccawqkm7e
      x-cloud-trace-context:
      - 794feb969e1f813a28f95adb42185ce4
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-ES,es;q=0.9
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":133,"name":"eevee","base_experience":65,"height":3,"is_default":true,"order":215,"weight":65,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"run-away","url":"https://<pokeapi>/api/v2/ability/50/"}},{"is_hidden":false,"slot":2,"ability":{"name":"adaptability","url":"https://<pokeapi>/api/v2/ability/91/"}},{"is_hidden":true,"slot":3,"ability":{"name":"anticipation","url":"https://<pokeapi>/api/v2/ability/107/"}}],"past_abilities":[{"generation":{"name":"generation-iii","url":"https://<pokeapi>/api/v2/generation/3/"},"abilities":[{"is_hidden":false,"slot":2,"ability":null}]},{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"eevee","url":"https://<pokeapi>/api/v2/pokemon-form/133/"}],"game_indices":[{"game_index":102,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":102,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":102,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":133,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":133,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":133,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/ve[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/igglybuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3b7a3-l1Fd2PUiR440Mw+MOzdPiMCe1UU"
      function-execution-id:
      - g7334sfl8qeq
      x-cloud-trace-context:
      - 1f0f50c740fe31e8cba9e0039a908be3;o=1
      x-country-code:
      - BR
      x-or[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon-species/133/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ba51-pr7IDFDAdipJfPuBTrfbziMXsEs"
      function-execution-id:
      - u1c1xmt4ph2f
      x-cloud-trace-context:
      - 3fcd423cbc455ae1b1b24df6f5a9cd2c
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-419,es;q=0.9,en;q=0.8
      x-pokeapi-deploy-date:
      - '1788012131'
      x-pokeapi-hash:
      - 3a588cf66475bd05a34aba29bd538480889829fb
    body:
      encoding: UTF-8
      string: '{"id":133,"name":"eevee","order":157,"gender_rate":1,"capture_rate":45,"base_happiness":70,"is_baby":false,"is_legendary":false,"is_mythical":false,"hatch_counter":35,"has_gender_differences":true,"forms_switchable":false,"growth_rate":{"name":"medium","url":"https://<pokeapi>/api/v2/growth-rate/2/"},"pokedex_numbers":[{"entry_number":133,"pokedex":{"name":"national","url":"https://<pokeapi>/api/v2/pokedex/1/"}},{"entry_number":133,"pokedex":{"name":"kanto","url":"https://<pokeapi>/api/v2/pokedex/2/"}},{"entry_number":180,"pokedex":{"name":"original-johto","url":"https://<pokeapi>/api/v2/pokedex/3/"}},{"entry_number":163,"pokedex":{"name":"extended-sinnoh","url":"https://<pokeapi>/api/v2/pokedex/6/"}},{"entry_number":184,"pokedex":{"name":"updated-johto","url":"https://<pokeapi>/api/v2/pokedex/7/"}},{"entry_number":91,"pokedex":{"name":"up[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/39
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56816-tV2n1Eu/CBIHrjuWPXl4+5RVT44"
      function-execution-id:
      - b5vsnc0smsbz
      x-cloud-trace-context:
      - '085713c48a5326dab34aaaf7bc8c6a52'
      x-country-code:
      - BR
      x-pokeapi-dep[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/evolution-chain/67/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42fe-xcfSac4AY7J8H1Z2klLJdOGlAX8"
      Function-Execution-Id:
      - me4vvdzlao46
      X-Cloud-Trace-Context:
      - 4f9651366ce2ef141a0e9592ba0bd647
      X-Country-Code:
      - BR
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: '{"id":67,"baby_trigger_item":null,"chain":{"is_baby":false,"species":{"name":"eevee","url":"https://<pokeapi>/api/v2/pokemon-species/133/"},"evolution_details":[],"evolves_to":[{"is_baby":false,"species":{"name":"vaporeon","url":"https://<pokeapi>/api/v2/pokemon-species/134/"},"evolution_details":[{"version_group":{"name":"red-blue","url":"https://<pokeapi>/api/v2/version-group/1/"},"is_default":true,"item":{"name":"water-stone","url":"https://<pokeapi>/api/v2/item/84/"},"trigger":{"name":"use-item","url":"https://<pokeapi>/api/v2/evolution-trigger/3/"},"gender":null,"held_item":null,"known_move":null,"known_move_type":null,"location":null,"min_level":null,"min_happiness":null,"min_beauty":null,"min_affection":null,"near_special_rock":false,"needs_multiplayer":false,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"turn_upside_down":false,"region":null,"base_form":{"name":"eevee","url":"https://<pokeapi>/api/v2/pokemon/133/"},"evolved_form":null,"used_move":null,"min_move_count":null,"min_steps":null,"min_damage_taken":null}],"evolves_to":[]},{"is_baby":false,"species":{"name":"jolteon","url":"https://<pokeapi>/api/v2/pokemon-species/135/"},"evolution_details":[{"version_group":{"name":"red-blue","url":"https://<pokeapi>/api/v2/version-group/1/"},"is_default":true,"item":{"name":"thunder-stone","url":"https://<pokeapi>/api/v2/item/83/"},"trigger":{"name":"use-item","url":"https://<pokeapi>/api/v2/evolution-trigger/3/"},"gender":null,"held_item":null,"known_move":null,"known_move_type":null,"location":null,"min[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/vaporeon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"46145-Ij4hhPiSmCXED8o5R9yuNEUBZYA"
      function-execution-id:
      - hzrvevptpxuy
      x-cloud-trace-context:
      - c00e3179e87bcbdafdee9eb268b244b4
      x-country-code:
      - BR
      x-orig-ac[...]
