---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"49d8c-+0mlz2rCRherMhTkNIlMzmIYngc"
      function-execution-id:
      - w874ja3kp2xw
      x-cloud-trace-context:
      - 33a5074d28a6d050bdc8d5de0f2865df
      x-country-code:
      - BR
      x-orig-accept-language:
      - pt-BR,pt;q=0.9
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"charmander","base_experience":62,"height":6,"is_default":true,"order":5,"weight":85,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"blaze","url":"https://<pokeapi>/api/v2/ability/66/"}},{"is_hidden":true,"slot":3,"ability":{"name":"solar-power","url":"https://<pokeapi>/api/v2/ability/94/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"charmander","url":"https://<pokeapi>/api/v2/pokemon-form/4/"}],"game_indices":[{"game_index":176,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":176,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":176,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":4,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":4,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":4,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version/[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"426de-AsA3PbJu4lQr2a2kbHXZkAs/j0M"
      Function-Execution-Id:
      - 9mzfzicqf4zg
      X-Cloud-Trace-Context:
      - bb9e4dcee076f0fe0b2a92d9b4db99cd
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.7
      X-Pokeapi-Deploy-Date:
      - '1788012131'
      X-Pokeapi-Hash:
      - 3a588cf66475bd05a34aba29bd538480889829fb
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"bulbasaur","base_experience":64,"height":7,"is_default":true,"order":1,"weight":69,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"overgrow","url":"https://<pokeapi>/api/v2/ability/65/"}},{"is_hidden":true,"slot":3,"ability":{"name":"chlorophyll","url":"https://<pokeapi>/api/v2/ability/34/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pok[...]
[...]
