---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"46e5e-R0NY6DfIyw9hvsHdCe7m8p9Vxgc"
      function-execution-id:
      - 2nws608ks200
      x-cloud-trace-context:
      - d23ecb1bd7d6d1f408a80dd4e2e95704
      x-country-code:
      - CL
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1790180099'
      x-pokeapi-hash:
      - 2b9ea590fcc62a1bce2534835e9d5d1b234a2976
    body:
      encoding: UTF-8
      string: '{"id":25,"name":"pikachu","base_experience":112,"height":4,"is_default":true,"order":35,"weight":60,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":25,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":25,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":25,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34509-TNuGOm0Ge6Kyk2W+p2/V/GeVV5k"
      function-execution-id:
      - c3ngicm4v1d3
      x-cloud-trace-context:
      - 967f6c8ea944c65cfab199f10b1b3b22
      x-country-code:
      - BR
      x-pokeapi-de[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/raichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4116c-4XeFlEOEfnywki4zScNN4kfaVCY"
      function-execution-id:
      - 8i30c4did8xj
      x-cloud-trace-context:
      - cb5bc6c81c081bc09bee8416b315edf8
      x-country-code:
      - BR
      x-pokeapi-d[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"426de-AsA3PbJu4lQr2a2kbHXZkAs/j0M"
      function-execution-id:
      - jo73b8pyxdzq
      x-cloud-trace-context:
      - e3fb8560eb984c4a885377c092052ea2
      x-country-code:
      - BR
      x-orig-a[...]
