---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/normal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83e3-t73zVRw6WM12nJrrzH5v6AIgD6E"
      function-execution-id:
      - fkj5ukxdsklf
      x-cloud-trace-context:
      - b6842ae8ef448cd4885b51607e6ee0c5
      x-country-code:
      - CL
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"normal","damage_relations":{"no_damage_to":[{"name":"ghost","url":"https://<pokeapi>/api/v2/type/8/"}],"half_damage_to":[{"name":"rock","url":"https://<pokeapi>/api/v2/type/6/"},{"name":"steel","url":"https://<pokeapi>/api/v2/type/9/"}],"double_damage_to":[],"no_damage_from":[{"name":"ghost","url":"https://<pokeapi>/api/v2/type/8/"}],"half_damage_from":[],"double_damage_from":[{"name":"fighting","url":"https://<pokeapi>/api/v2/type/2/"}]},"past_damage_relations":[],"game_indices":[{"game_index":0,"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"}},{"game_index":0,"generation":{"name":"generation-ii","url":"https://<pokeapi>/api/v2/generation/2/"}},{"game_index":0,"generation":{"name":"generation-iii","url":"https://<pokeapi>/api/v2/generation/3/"}},{"game_index":0,"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"}},{"game_index":0,"generation":{"name":"generation-v","url":"https://<pokeapi>/api/v2/generation/5/"}},{"game_index":0,"generation":{"name":"generation-vi","url":"https://<pokeapi>/api/v2/generation/6/"}},{"game_index":0,"generation":{"name":"generation-vii","url":"https://<pokeapi>/api/v2/generation/7/"}},{"game_index":0,"generation":{"name":"generation-viii","url":"https://<pokeapi>/api/v2/generation/8/"}},{"game_index":0,"generation":{"name":"generation-ix","url":"https://<pokeapi>/api/v2/generation/9/"}}],"generation":{"name":"generation-i","url":"https://<pokeapi>/api/v2/generation/1/"},"move_damage_class":{"name":"physical","url":"https://<pokeapi>/api/v2/move-damage-class/2/"},"names":[{"name":"ノーマル","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"}},{"name":"노말","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"}},{"name":"一般","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"}},{"name":"Normal","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"name":"Normal","language":{"name":"de","url":"https://<pokeapi>/api/v2/language/6/"}},{"name":"Normal","language":{"name":"es","url":"https://<pokeapi>/api/v2/language/7/"}},{"name":"Normale","language":{"name":"it","url":"https://<pokeapi>/api/v2/language/8/"}},{"name":"Normal","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}},{"name":"ノーマル","language":{"name":"ja","url":"https://<pokeapi>/api/v2/language/11/"}},{"name":"一般","language":{"name":"zh-hans","url":"https://<pokeapi>/api/v2/language/12/"}},{"name":"Normal","language":{"name":"es-419","url":"https://<pokeapi>/api/v2/language/14/"}}],"pokemon":[{"slot":1,"pokemon":{"name":"pidgey","url":"https://<pokeapi>/api/v2/pokemon/16/"}},{"slot":1,"pokemon":{"name":"pidgeotto","url":"https://<pokeapi>/api/v2/pokemon/17/"}},{"slot":1,"pokemon":{"name":"pidgeot","url":"https://<pokeapi>/api/v2/pokemon/18/"}},{"slot":1,"pokemon":{"name":"rattata","url":"https://<pokeapi>/api/v2/pokemon/19/"}},{"slot":1,"pokemon":{"name":"raticate","url":"https://<pokeapi>/api/v2/pokemon/20/"}},{"slot":1,"pokemon":{"name":"spearow","url":"https://<pokeapi>/api/v2/pokemon/21/[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/grass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6264-wgiCkpAqUA+T0fPdTYeh/UdPjME"
      function-execution-id:
      - j805qcf21gzc
      x-cloud-trace-context:
      - ed86579920ab85d72879febaab3ec349
      x-country-code:
      - CL
      x-pokeapi-deploy[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f0c-0LbKJ2GGybesGOqqf+VHTxe/4bY"
      function-execution-id:
      - xwbxhke63qp3
      x-cloud-trace-context:
      - 3be66094740dffeefe81991161f45c04
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-US,es-419;q=0.9,es;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":15,"name":"ice","damage_relations":{"no_damage_to":[],"half_damage_to":[{"name":"steel","url":"https://<pokeapi>/api/v2/type/9/"},{"name":"fire","url":"https://<pokeapi>/api/v2/type/10/"},{"name":"water","url":"https://<pokeapi>/api/v2/type/11/"},{"name":"ice","url":"https://<pok[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fire
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5275-XFNHJBqfxNzOSrR885Y9qGzPbjw"
      function-execution-id:
      - 2tn5wy7yq1mo
      x-cloud-trace-context:
      - 1cdc3420e433f692e8bfd2d982439ae9
      x-country-code:
      - BR
      x-orig-accept-lan[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/poison
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d09-HsyGCgMguJ1pmmmvjZyrRjCeQMo"
      function-execution-id:
      - avmabbv42gpc
      x-cloud-trace-context:
      - 42c4357a260b4444595580b7bd49028d
      x-country-code:
      - BR
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5036-G/N/d8PLnzA7JyUOwgi/2vj6OAQ"
      function-execution-id:
      - wr90xhedmsg4
      x-cloud-trace-context:
      - 7735fff51a17dcf99fa3b428e151be62
      x-country-code:
      - BR
      x-orig-accept[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/water
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6ace-lGBW2ldBMsUMkMSxouOpYiAjZ5w"
      function-execution-id:
      - zzoypjlvpub2
      x-cloud-trace-context:
      - 83cd244af308f6dcef44664f523d29d4
      x-country-code:
      - BR
      x-orig-accept-la[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fighting
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"51c3-wi/OO/aFPOe/zFYeGmNOvNkP9MU"
      function-execution-id:
      - mjyo2jrzxwxs
      x-cloud-trace-context:
      - b4515e1428e9d420845071821a79fcfb
      x-country-code:
      - BR
      x-orig-accept[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ground
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44d9-xk1CJxyJn1iH8DKe6Rijj/3DE70"
      function-execution-id:
      - uwzkdmsta14z
      x-cloud-trace-context:
      - '092de035124669ccce326ebcc9f895d3'
      x-country-code:
      - BR
      x-orig-accept[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/psychic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"634c-p1o33lcrJcz2q3K0PRqljDNwHXE"
      function-execution-id:
      - svl2b1yq5fpb
      x-cloud-trace-context:
      - 3201f425ee4f9557194b2efc452085c9;o=1
      x-country-code:
      - BR
      x-orig-acc[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/flying
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5983-SWC20SYK91Y9Df1TPLACp00/vpg"
      function-execution-id:
      - xwbxhnhtj6g2
      x-cloud-trace-context:
      - 63226c6633e75f2a26fa15c6125a92a5
      x-country-code:
      - BR
      x-orig-accept-l[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"472d-PWV347VD6cTqRZvkFmLQkcsw5RI"
      Function-Execution-Id:
      - bzh1ul1lkmv5
      X-Cloud-Trace-Context:
      - 2411ab97eeaf091798c80ca20bb22dcb
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpZCI6NiwibmFtZSI6InJvY2siLCJkYW1hZ2VfcmVsYXRpb25zIjp7Im5vX2RhbWFnZV90byI6W10sImhhbGZfZGFtYWdlX3RvIjpbeyJuYW1lIjoiZmlnaHRpbmciLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvdHlwZS8yLyJ9LHsibmFtZSI6Imdyb3VuZCIsInVybCI6Imh0dHBzOi8vPHBva2VhcGk+L2FwaS92Mi90eXBlLzUvIn0seyJuYW1lIjoic3RlZWwiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkvdjIvdHlwZS85LyJ9XSwiZG91YmxlX2RhbWFnZV90byI6W3sibmFtZSI6[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/bug
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d51-rZPrpoWmal25+cOCg6x+i4ihTa0"
      Function-Execution-Id:
      - d2es9o4jzth5
      X-Cloud-Trace-Context:
      - 98cad9b8ad80ce4c322f779e90ff1a0b
      X-Country-Code:
      - BR
      X-Pokeapi-Deploy-D[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/ghost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bef-HMpzOTiAh3y+dWiV3zHX0WOYZEg"
      Function-Execution-Id:
      - d822oc6otj27
      X-Cloud-Trace-Context:
      - d415ed4777edc6d721216f592a4dfb1b
      X-Country-Code:
      - BR
      X-Orig-Accept-La[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cbb-6lnQ/jgthcRQxArK9HzWHxOnTKk"
      Function-Execution-Id:
      - 6k0fk5l132sh
      X-Cloud-Trace-Context:
      - c9b0641f182c495e20a64cb6ef6e6827
      X-Country-Code:
      - BR
      X-Pokeapi-Deplo[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/dark
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dce-yOZ68edEMUkZMYNEsP/y1cHrgeY"
      Function-Execution-Id:
      - 2tn5vguy4jjh
      X-Cloud-Trace-Context:
      - 8cc21dec9745a24ef23c05540d05c84a
      X-Country-Code:
      - BR
      X-Orig-Accept-Lan[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/steel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f4a-rSZGx4s68p0/Hq6bDkt0Q5DpWGY"
      Function-Execution-Id:
      - j805l0boi1gc
      X-Cloud-Trace-Context:
      - 4a52bbd22886e95fcbfba6be6e028627
      X-Country-Code:
      - BR
      X-Orig-Accept-La[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/type/fairy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c93-0OGgDsJYvwG55LISQKVbwi5Np2o"
      Function-Execution-Id:
      - avma854halji
      X-Cloud-Trace-Context:
      - ab4ff087a0c84cff1d4a48bcbb0729b6
      X-Country-Code:
      - BR
      X-Orig-Accept-La[...]
[...]
