---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pokemon1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24-e6q5W2WItzjVDpSEz7+plLiKkWo"
      function-execution-id:
      - 3xun0ijrd41z
      x-cloud-trace-context:
      - 9192c35995d2123c57a320ebbd98e378
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Thu, 17 Sep 2026 01:28:31 GMT
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34509-TNuGOm0Ge6Kyk2W+p2/V/GeVV5k"
      function-execution-id:
      - 64727hamukiu
      x-cloud-trace-context:
      - 2b09c5ce72103f0f6c492b94e31d4e01
      x-country-code:
      - BR
      x-pokeapi-deploy-date:
      - '1789627342'
      x-pokeapi-hash:
      - 5c776e225f2150862e021062d7f304c8958368cc
    body:
      encoding: UTF-8
      string: '{"id":172,"name":"pichu","base_experience":41,"height":3,"is_default":true,"order":34,"weight":20,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pichu","url":"https://<pokeapi>/api/v2/pokemon-form/172/"},{"name":"pichu-spiky-eared","url":"https://<pokeapi>/api/v2/pokemon-form/10065/"}],"game_indices":[{"game_index":172,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":172,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":172,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version/6/"}},{"game_index":172,"version":{"name":"ruby","url":"https://<pokeapi>/api/v2/version/7/"}},{"game_index":172,"version":{"name":"sapphire","url":"https://<pokeapi>/api/v2/version/8/"}},{"game_index":172,"version":{"name":"emerald","url":"https://<pokeapi>/api[...]
