---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/upper-hand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f42-YjP73Fi6OeJ76FjaKgxuYmD53oY"
      function-execution-id:
      - lhtkichmla9s
      x-cloud-trace-context:
      - 729ca3a47ae87505bf65eab234622162
      x-country-code:
      - US
      x-orig-accept-language:
      - es-419,es;q=0.9,en-US;q=0.8,en;q=0.7,es-ES;q=0.6
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":918,"name":"upper-hand","accuracy":100,"effect_chance":null,"pp":15,"priority":3,"power":65,"contest_combos":null,"contest_type":null,"contest_effect":null,"damage_class":{"name":"physical","url":"https://<pokeapi>/api/v2/move-damage-class/2/"},"effect_entries":[],"effect_changes":[],"generation":{"name":"generation-ix","url":"https://<pokeapi>/api/v2/generation/9/"},"meta":null,"names":[{"name":"はやてがえし","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"}},{"name":"기선제압","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"}},{"name":"快手還擊","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"}},{"name":"Prio-Parade","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"name":"Schnellkonter","language":{"name":"de","url":"https://<pokeapi>/api/v2/language/6/"}},{"name":"Palma
        Rauda","language":{"name":"es","url":"https://<pokeapi>/api/v2/language/7/"}},{"name":"Colpo
        di Mano","language":{"name":"it","url":"https://<pokeapi>/api/v2/language/8/"}},{"name":"Upper
        Hand","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}},{"name":"はやてがえし","language":{"name":"ja","url":"https://<pokeapi>/api/v2/language/11/"}},{"name":"快手还击","language":{"name":"zh-hans","url":"https://<pokeapi>/api/v2/language/12/"}},{"name":"Palma
        Rauda","language":{"name":"es-419","url":"https://<pokeapi>/api/v2/language/14/"}}],"past_values":[],"stat_changes":[],"super_contest_effect":null,"target":{"name":"selected-pokemon","url":"https://<pokeapi>/api/v2/move-target/10/"},"type":{"name":"fighting","url":"https://<pokeapi>/api/v2/type/2/"},"machines":[{"machine":{"url":"https://<pokeapi>/api/v2/machine/2044/"},"version_group":{"name":"scarlet-violet","url":"https://<pokeapi>/api/v2/version-group/25/"}},{"machine":{"url":"https://<pokeapi>/api/v2/machine/2212/"},"version_group":{"name":"the-indigo-disk","url":"https://<pokeapi>/api/v2/version-group/27/"}}],"flavor_text_entries":[{"flavor_text":"Le
        lanceur réagit instinctivement au moindre mouvement et donne un coup de paume
        qui apeure la cible. Échoue si cette dernière n''a pas utilisé une attaque
        prioritaire.","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"},"version_group":{"name":"scarlet-violet","url":"https://<pokeapi>/api/v2/version-group/25/"}},{"flavor_text":"The
        user reacts to the target''s movement and strikes with the heel of its palm,
        making the target flinch. This move fails if the target is not readying a
        priority move.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"},"version_group":{"name":"scarlet-violet","url":"https://<pokeapi>/api/v2/version-group/25/"}}],"learned_by_pokemon":[{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon/25/"},{"name":"raichu","url":"https://<pokeapi>/api/v2/pokemon/26/"},{"name":"poliwrath","url":"https://<pokeapi>/api/v2/pokemon/62/"},{"name":"hitmonlee","url":"https://<pokeapi>/api/v2/pokemon/106/"},{"name":"hitmonchan","url":"https://<pokeapi>/api/v2/pokemon/107/"},{"name":"mew","url":"https://<pokeapi>/api/v2/pokemon/151/"},{"name":"aipom","url":"https://<pokeapi>/api/v2/pokemon/190/"},{"name":"heracross","url":"https://<pokeapi>/ap[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/confide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"152a0-vkzSayN24FRH295dQSsTYTnrIu8"
      function-execution-id:
      - yqoencly98qu
      x-cloud-trace-context:
      - 223830ce38ca802f939cfc41c5571d96
      x-country-code:
      - US
      x-orig-accept-language:
      - es-419,es;q=0.9,en-US;q=0.8,en;q=0.7,es-ES;q=0.6
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":590,"name":"confide","accuracy":null,"effect_chance":100,"pp":20,"priority":0,"power":null,"contest_combos":null,"contest_type":null,"contest_effect":null,"damage_class":{"name":"status","url":"https://<pokeapi>/api/v2/move-damage-class/1/"},"effect_entries":[{"effect":"Diminue
        l''Attaque Spéciale de la cible d''un niveau.","short_effect":"Diminue l''Attaque
        Spéciale de la cible d''un niveau.","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"effect":"Lowers
        the target’s Special Attack by one stage.","short_effect":"Lowers the target’s
        Special Attack by one stage.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}}],"effect_changes":[],"generation":{"name":"generation-vi","url":"https://<pokeapi>/api/v2/generation/6/"},"meta":{"ailment":{"name":"none","url":"https://<pokeapi>/api/v2/move-ailment/0/"},"category":{"name":"net-good-stats","url":"https://<pokeapi>/api/v2/move-category/2/"},"min_hits":null,"max_hits":null,"min_turns":null,"max_turns":null,"drain":0,"healing":0,"crit_rate":0,"ailment_chance":0,"flinch_chance":0,"stat_chance":100},"names":[{"name":"ないしょばなし","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"}},{"name":"비밀이야기","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"}},{"name":"密語","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"}},{"name":"Confidence","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"name":"Vertrauenssache","language":{"name":"de","url":"https://<pokeapi>/api/v2/language/6/"}},{"name":"Confidencia","language":{"name":"es","url":"https://<pokeapi>/api/v2/language/7/"}},{"name":"Confidenza","language":{"name":"it","url":"https://<pokeapi>/api/v2/language/8/"}},{"name":"Confide","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}},{"name":"ないしょばなし","language":{"name":"ja","url":"https://<pokeapi>/api/v2/language/11/"}},{"name":"密语","language":{"name":"zh-hans","url":"https://<pokeapi>/api/v2/language/12/"}},{"name":"Confidencia","language":{"name":"es-419","url":"https://<pokeapi>/api/v2/language/14/"}}],"past_values":[],"stat_changes":[{"change":-1,"stat":{"name":"special-attack","url":"https://<pokeapi>/api/v2/stat/4/"}}],"super_contest_effect":null,"target":{"name":"selected-pokemon","url":"https://<pokeapi>/api/v2/move-target/10/"},"type":{"name":"normal","url":"https://<pokeapi>/api/v2/type/1/"},"machines":[{"machine":{"url":"https://<pokeapi>/api/v2/machine/1573/"},"version_group":{"name":"x-y","url":"https://<pokeapi>/api/v2/version-group/15/"}},{"machine":{"url":"https://<pokeapi>/api/v2/machine/1574/"},"version_group":{"name":"omega-ruby-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/grassy-glide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3c19-OTPzKla/MwkTS1GTIN6M8+34fpw"
      function-execution-id:
      - vmb42snkzxua
      x-cloud-trace-context:
      - aab2a2eb1bb69c462be33a0ba9014f5d
      x-country-code:
      - US
      x-orig-ac[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3ae0a-NOMdzjxM4W1DNP0XsKRWemhmWk8"
      function-execution-id:
      - ouwrjfe9rnnk
      x-cloud-trace-context:
      - 2e59e18c7aa70ea8055b1b467df8a130
      x-country-code:
      - US
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":2,"name":"ivysaur","base_experience":142,"height":10,"is_default":true,"order":2,"weight":130,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"overgrow","url":"https://<pokeapi>/api/v2/ability/65/"}},{"is_hidden":true,"slot":3,"ability":{"name":"chlorophyll","url":"https://<pokeapi>/api/v2/ability/34/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"ivysaur","url":"https://<pokeapi>/api/v2/pokemon-form/2/"}],"game_indices":[{"game_index":9,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":9,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":9,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":2,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":2,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":2,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version/6/"}[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/terrain-pulse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"225b-RnUuR5/mwTP3ywjIYGRysol0duc"
      function-execution-id:
      - dy7hf1atclk3
      x-cloud-trace-context:
      - c811836d68b2a333c41ce72d22420d7b
      x-country-code:
      - CL
      x-pokeap[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/power-up-punch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"94ae-+Mbq7wEZ1ePp9xgM+scvKcYRKjU"
      function-execution-id:
      - fkj5p44huiox
      x-cloud-trace-context:
      - a856207d7dbffab1df1bac9c2d74fb53
      x-country-code:
      - BR
      x-orig-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/breaking-swipe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3767-lPesgjSrp1BT0b7LjFCjtZOevyc"
      function-execution-id:
      - 7nwfbqzulqw9
      x-cloud-trace-context:
      - c33a430556efb6785bdff3bf2b62e186
      x-country-code:
      - BR
      x-orig-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/temper-flare
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2150-ZTi0skMeQrnCTo/d9QNOT+/PfO8"
      function-execution-id:
      - fkj5ynvwnryk
      x-cloud-trace-context:
      - '08aa58e3a230cbbb92171b1e8a950040'
      x-country-code:
      - US
      x-orig-[...]
[...]
