---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/jigglypuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56816-tV2n1Eu/CBIHrjuWPXl4+5RVT44"
      function-execution-id:
      - vmb4qy013inx
      x-cloud-trace-context:
      - 797e2144bd85ef66497edc71e97e30ab
      x-country-code:
      - CL
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":39,"name":"jigglypuff","base_experience":95,"height":5,"is_default":true,"order":71,"weight":55,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"cute-charm","url":"https://<pokeapi>/api/v2/ability/56/"}},{"is_hidden":false,"slot":2,"ability":{"name":"competitive","url":"https://<pokeapi>/api/v2/ability/172/"}},{"is_hidden":true,"slot":3,"ability":{"name":"friend-guard","url":"https://<pokeapi>/api/v2/ability/132/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]},{"generation":{"name":"generation-v","url":"https://<pokeapi>/api/v2/generation/5/"},"abilities":[{"is_hidden":false,"slot":2,"ability":null}]}],"forms":[{"name":"jigglypuff","url":"https://<pokeapi>/api/v2/pokemon-form/39/"}],"game_indices":[{"game_index":100,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":100,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":100,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":39,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":39,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":39,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/versi[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/133
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"39263-fRwlOq4fnRHV1K/ASz9AyUbtHqA"
      function-execution-id:
      - 5o55fncyzea8
      x-cloud-trace-context:
      - e9bd79e2e1393c54d4823ccc28ca3c5d
      x-country-code:
      - AR
      x-orig-accept-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon-species/39/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbf9-7f4Yrl6oS/eBgGsf88o3WDssqNk"
      Function-Execution-Id:
      - uwaswtnrxrw1
      X-Cloud-Trace-Context:
      - 8121148b63ec743251b8c0db02e183f2
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpZCI6MzksIm5hbWUiOiJqaWdnbHlwdWZmIiwib3JkZXIiOjQyLCJnZW5kZXJfcmF0ZSI6NiwiY2FwdHVyZV9yYXRlIjoxNzAsImJhc2VfaGFwcGluZXNzIjo3MCwiaXNfYmFieSI6ZmFsc2UsImlzX2xlZ2VuZGFyeSI6ZmFsc2UsImlzX215dGhpY2FsIjpmYWxzZSwiaGF0Y2hfY291bnRlciI6MTAsImhhc19nZW5kZXJfZGlmZmVyZW5jZXMiOmZhbHNlLCJmb3Jtc19zd2l0Y2hhYmxlIjpmYWxzZSwiZ3Jvd3RoX3JhdGUiOnsibmFtZSI6ImZhc3QiLCJ1cmwiOiJodHRwczovLzxwb2tlYXBpPi9hcGkv[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon-species/39/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bbf9-7f4Yrl6oS/eBgGsf88o3WDssqNk"
      function-execution-id:
      - uwaswtnrxrw1
      x-cloud-trace-context:
      - 8121148b63ec743251b8c0db02e183f2
      x-country-code:
      - BR
      x-orig-accept-language:
      - en-US,en;q=0.9
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":39,"name":"jigglypuff","order":42,"gender_rate":6,"capture_rate":170,"base_happiness":70,"is_baby":false,"is_legendary":false,"is_mythical":false,"hatch_counter":10,"has_gender_differences":false,"forms_switchable":false,"growth_rate":{"name":"fast","url":"https://<pokeapi>/api/v2/growth-rate/3/"},"pokedex_numbers":[{"entry_number":39,"pokedex":{"name":"national","url":"https://<pokeapi>/api/v2/pokedex/1/"}},{"entry_number":39,"pokedex":{"name":"kanto","url":"https://<pokeapi>/api/v2/pokedex/2/"}},{"entry_number":44,"pokedex":{"name":"original-johto","url":"https://<pokeapi>/api/v2/pokedex/3/"}},{"entry_number":138,"pokedex":{"name":"hoenn","url":"https://<pokeapi>/api/v2/pokedex/4/"}},{"entry_number":44,"pokedex":{"name":"updated-johto","url":"https://<pokeapi>/api/v2/pokedex/7/"}},{"entry_number":282,"pokedex":{"name":"updated-unova"[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/evolution-chain/16/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a1-l/30F8nNeewrl/070niutWpAcoo"
      function-execution-id:
      - 5o55ghuojiha
      x-cloud-trace-context:
      - 8345f99277f967ac1f37c52d4d69b891;o=1
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-US,es;q=0.9,zh-CN;q=0.8,zh;q=0.7,es-419;q=0.6
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":16,"baby_trigger_item":null,"chain":{"is_baby":true,"species":{"name":"igglybuff","url":"https://<pokeapi>/api/v2/pokemon-species/174/"},"evolution_details":[],"evolves_to":[{"is_baby":false,"species":{"name":"jigglypuff","url":"https://<pokeapi>/api/v2/pokemon-species/39/"},"evolution_details":[{"version_group":{"name":"red-blue","url":"https://<pokeapi>/api/v2/version-group/1/"},"is_default":true,"item":null,"trigger":{"name":"level-up","url":"https://<pokeapi>/api/v2/evolution-trigger/1/"},"gender":null,"held_item":null,"known_move":null,"known_move_type":null,"location":null,"min_level":null,"min_happiness":160,"min_beauty":null,"min_affection":null,"near_special_rock":false,"needs_multiplayer":false,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"turn_upside_down":false,"region":null,"base_form":null,"evolved_form":null,"used_move":null,"min_move_count":null,"min_steps":null,"min_damage_taken":null}],"evolves_to":[{"is_baby":false,"species":{"name":"wigglytuff","url":"https://<pokeapi>/api/v2/pokemon-species/40/"},"evolution_details":[{"version_group":{"name":"red-blue","url":"https://<pokeapi>/api/v2/version-group/1/"},"is_default":true,"item":{"name":"moon-stone","url":"https://<pokeapi>/api/v2/item/81/"},"trigger":{"name":"use-item","url":"https://<pokeapi>/api/v2/evolution-trigger/3/"},"gender":null,"held_item":null,"known_move":null,"known_move_type":null,"location":null,"min_level":null,"min_happiness":null,"min_beauty":null,"min_affection":null,"near_special_rock":false,"needs_multiplayer":false,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"turn_upside_down":false,"region":null,"base_form":null,"evolved_form":null,"used_move":null,"min_move_count":null,"min_steps":null,"min_damage_taken":null}],"evolves_to":[]}]}]}}'
  recorded_at: Wed, 02 Sep 2026 22:32:16 GMT
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/wigglytuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"50e26-ZEJUlS0NQADXB8/j6tn/+lyPRx0"
      function-execution-id:
      - 3v721ngajkis
      x-cloud-trace-context:
      - b516ab621c5fede5d654f2a06aa22d9d
      x-country-code:
      - BR
      x-orig-[...]
