---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/172
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34509-TNuGOm0Ge6Kyk2W+p2/V/GeVV5k"
      function-execution-id:
      - 4ef36e8qj9bt
      x-cloud-trace-context:
      - 69a020704f6cb05c4fb0ad8b933ea1cf
      x-country-code:
      - BR
      x-orig-accept-language:
      - es,es-ES;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6
      x-pokeapi-deploy-date:
      - '1788183508'
      x-pokeapi-hash:
      - ba4910e0b8123bb874eb1935643e8e7442eb2dea
    body:
      encoding: UTF-8
      string: '{"id":172,"name":"pichu","base_experience":41,"height":3,"is_default":true,"order":34,"weight":20,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pichu","url":"https://<pokeapi>/api/v2/pokemon-form/172/"},{"name":"pichu-spiky-eared","url":"https://<pokeapi>/api/v2/pokemon-form/10065/"}],"game_indices":[{"game_index":172,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":172,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":172,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version/6/"}},{"game_index":172,"version":{"name":"ruby","url":"https://<pokeapi>/api/v2/version/7/"}},{"game_index":172,"version":{"name":"sapphire","url":"https://<pokeapi>/api/v2/version/8/"}},{"game_index":172,"version":{"name":"emerald","url":"https://<pokeapi>/api[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/electric-terrain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7cd5-sOXehugrA6S2kD8ynY44QvTpP3M"
      function-execution-id:
      - me4v1503gz68
      x-cloud-trace-context:
      - 63d9a125b5d2fc9f7ecc0b640b68989c
      x-country-code:
      - BR
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":604,"name":"electric-terrain","accuracy":null,"effect_chance":null,"pp":10,"priority":0,"power":null,"contest_combos":null,"contest_type":null,"contest_effect":null,"damage_class":{"name":"status","url":"https://<pokeapi>/api/v2/move-damage-class/1/"},"effect_entries":[{"effect":"Pendant
        cinq tours, empêche tous les Pokémon au sol de dormir et renforce leurs capacités
        Électrik d''1.5× leur puissance.\n\nChange Force Nature en Tonnerre.","short_effect":"Pendant
        cinq tours, empêche tous les Pokémon au sol de dormir et renforce leurs capacités
        Électrik d''1.5× leur puissance.","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"effect":"For
        five turns, prevents all Pokémon on the ground from sleeping and strengthens
        their Electric moves to 1.5× their power.\n\nChanges Nature Power to Thunderbolt.","short_effect":"For
        five turns, prevents all Pokémon on the ground from sleeping and strengthens
        their Electric moves to 1.5× their power.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}}],"effect_changes":[],"generation":{"name":"generation-vi","url":"https://<pokeapi>/api/v2/generation/6/"},"meta":{"ailment":{"name":"none","url":"https://<pokeapi>/api/v2/move-ailment/0/"},"category":{"name":"whole-field-effect","url":"https://<pokeapi>/api/v2/move-category/10/"},"min_hits":null,"max_hits":null,"min_turns":null,"max_turns":null,"drain":0,"healing":0,"crit_rate":0,"ailment_chance":0,"flinch_chance":0,"stat_chance":0},"names":[{"name":"エレキフィールド","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"}},{"name":"일렉트릭필드","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"}},{"name":"電氣場地","language":{"name":"zh-hant","url":"https://<pokeapi>/api/v2/language/4/"}},{"name":"Champ
        Électrifié","language":{"name":"fr","url":"https://<pokeapi>/api/v2/language/5/"}},{"name":"Elektrofeld","language":{"name":"de","url":"https://<pokeapi>/api/v2/language/6/"}},{"name":"Campo
        Eléctrico","language":{"name":"es","url":"https://<pokeapi>/api/v2/language/7/"}},{"name":"Campo
        Elettrico","language":{"name":"it","url":"https://<pokeapi>/api/v2/language/8/"}},{"name":"Electric
        Terrain","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"}},{"name":"エレキフィールド","language":{"name":"ja","url":"https://<pokeapi>/api/v2/language/11/"}},{"name":"电气场地","language":{"name":"zh-hans","url":"https://<pokeapi>/api/v2/language/12/"}},{"name":"Campo
        Eléctrico","language":{"name":"es-419","url":"https://<pokeapi>/api/v2/language/14/"}}],"past_values":[],"stat_changes":[],"super_contest_effect":null,"target":{"name":"entire-field","url":"https://<pokeapi>/api/v2/move-target/12/"},"type":{"name":"electric","url":"https://<pokeapi>/api/v2/type/13/"},"machines":[{"machine":{"url":"https://<pokeapi>/api/v2/machine/1511/"},"version_group":{"name":"sword-shield","url":"https://<pokeapi>/api/v2/version-group/20/"}},{"machine":{"url":"https://<pokeapi>/api/v2/machine/1951/"},"version_group":{"name":"scarlet-violet","url":"https://<pokeapi>/api/v2/version-group/25/"}},{"machine":{"url":"https://<pokeapi>/api/v2/machine/2142/"},"version_group":{"name":"the-indigo-disk","url":"https://<pokeapi>/api/v2/version-group/27/"}}],"flavor_text_entries":[{"flavor_text":"５ターンの　あいだ　あしもとを\nエレキフィールドにする。　じめんにいる\nポケモンは　ねむらなくなる。","language":{"name":"ja-hrkt","url":"https://<pokeapi>/api/v2/language/1/"},"version_group":{"name":"x-y","url":"https://<pokeapi>/api/v2/version-group/15/"}},{"flavor_text":"5턴
        동안 발밑을\n일렉트릭필드로 만든다. 땅에 있는\n포켓몬은 잠들지 않게 된다.","language":{"name":"ko","url":"https://<pokeapi>/api/v2/language/3/"},"version_group":{"name":"x-y","url":"https://<pokeapi>/api/v2/version-group/15/"}},{"flavor_text":"Pendant
        cinq tours, le terrain aux pie[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/nuzzle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5caf-n/yR57jJMnlPDW8eI9iw58abTDA"
      function-execution-id:
      - 5o55pktmdg9y
      x-cloud-trace-context:
      - 96aa163d4a1f47b90ab93b46c6c4c51c
      x-country-code:
      - BR
      x-pokeapi-deplo[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/move/wild-charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8f81-VA7ozHq/VyBhzUufNfng6eUuP/Q"
      function-execution-id:
      - 3v72e0gf3tb0
      x-cloud-trace-context:
      - d703c3d3ebe392aa0093fbddc18da2bf;o=1
      x-country-code:
      - BR
      x-poke[...]
