<form
    hx-post="/team"
    hx-target="#team"
    hx-swap="innerHTML">
  <div>
    <input type="image" src=<%= @pokemon.sprite %>>
    <input type="hidden" name="pokeName" value=<%= @pokemon.name %>>
  </div>
  <button class="btn">Add to Team</button>
</form>
