<% @team.map.with_index do |ch, idx| %>
  <div id='team-pokemon-<%= idx %>'>
    <input type="image" src=<%= ch.sprite %>><br>
    <%= ch.name %><br>
    <input type="hidden" name="index" value=<%= idx %>>
    <button
        class="btn"
        hx-get="/team"
        hx-target="#team"
        hx-swap="innerHTML"
        hx-params="*">
      Remove from Team
    </button><br>
    <button
        class="btn"
        hx-get="/team"
        hx-target="#team"
        hx-swap="innerHTML"
        hx-params="*">
      Swap Position
    </button><br>
  </div>
<% end %>
