---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/16
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"31fa9-QByNarkkSoi2Xh3B+kXbhWc8NUo"
      function-execution-id:
      - 30i4w5jq1jqr
      x-cloud-trace-context:
      - 9a957366e1e4ed5bec41f369346bf373
      x-country-code:
      - US
      x-orig-accept-language:
      - es-MX,es-419;q=0.9,es;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787450728'
      x-pokeapi-hash:
      - 54ab437868f053fe307ebe3eaae3ea581b3b82da
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"keen-eye","url":"https://<pokeapi>/api/v2/ability/51/"},"is_hidden":false,"slot":1},{"ability":{"name":"tangled-feet","url":"https://<pokeapi>/api/v2/ability/77/"},"is_hidden":false,"slot":2},{"ability":{"name":"big-pecks","url":"https://<pokeapi>/api/v2/ability/145/"},"is_hidden":true,"slot":3}],"base_experience":50,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/16.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/16.ogg"},"forms":[{"name":"pidgey","url":"https://<pokeapi>/api/v2/pokemon-form/16/"}],"game_indices":[{"game_index":36,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":36,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":36,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":16,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":16,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":16,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version[...]
[...]
