---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/662
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13b6f-aH/iPtCsFQPJC8Sfacgc3aCrtDU"
      function-execution-id:
      - u7jtsapd3qw2
      x-cloud-trace-context:
      - 8235b79e9f19e04d73dc81802c4cdb08
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-419,es;q=0.9
      x-pokeapi-deploy-date:
      - '1789002802'
      x-pokeapi-hash:
      - 8fe210b21c9abbe73de93670f3d5a346c80a3625
    body:
      encoding: UTF-8
      string: '{"id":662,"name":"fletchinder","base_experience":134,"height":7,"is_default":true,"order":794,"weight":160,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"flame-body","url":"https://<pokeapi>/api/v2/ability/49/"}},{"is_hidden":true,"slot":3,"ability":{"name":"gale-wings","url":"https://<pokeapi>/api/v2/ability/177/"}}],"past_abilities":[],"forms":[{"name":"fletchinder","url":"https://<pokeapi>/api/v2/pokemon-form/662/"}],"game_indices":[{"game_index":662,"version":{"name":"x","url":"https://<pokeapi>/api/v2/version/23/"}},{"game_index":662,"version":{"name":"y","url":"https://<pokeapi>/api/v2/version/24/"}},{"game_index":662,"version":{"name":"omega-ruby","url":"https://<pokeapi>/api/v2/version/25/"}},{"game_index":662,"version":{"name":"alpha-sapphire","url":"https://<pokeapi>/api/v2/version/26/"}},{"game_index":662,"version":{"name":"sun","url":"https://<pokeapi>/api/v2/version/27/"}},{"game_index":662,"version":{"name":"moon","url":"https://<pokeapi>/a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/661
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a69-8Z7xk/1cO1Er85JntsKzyCDOrQg"
      Function-Execution-Id:
      - 8wt4os4ty7yj
      X-Cloud-Trace-Context:
      - '0309bcbc2e80d4d992856bcb1a379d52'
      X-Country-Code:
      - CL
      X-Pokeapi-Deploy-Date:
      - '1789002802'
      X-Pokeapi-Hash:
      - 8fe210b21c9abbe73de93670f3d5a346c80a3625
    body:
      encoding: ASCII-8BIT
      string: '{"id":661,"name":"fletchling","base_experience":56,"height":3,"is_default":true,"order":793,"weight":17,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"big-pecks","url":"https://<pokeapi>/api/v2/ability/145/"}},{"is_hidden":true,"slot":3,"ability":{"name":"gale-wings","url":"https://<pokeapi>/api/v2/ability/177/"}}],"past_abilities":[],"forms":[{"name":"fletchling","url":"https://<po[...]
[...]
