---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/662
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13b6f-aH/iPtCsFQPJC8Sfacgc3aCrtDU"
      function-execution-id:
      - u7jtsapd3qw2
      x-cloud-trace-context:
      - 8235b79e9f19e04d73dc81802c4cdb08
      x-country-code:
      - BR
      x-orig-accept-language:
      - es-419,es;q=0.9
      x-pokeapi-deploy-date:
      - '1789002802'
      x-pokeapi-hash:
      - 8fe210b21c9abbe73de93670f3d5a346c80a3625
    body:
      encoding: UTF-8
      string: '{"id":662,"name":"fletchinder","base_experience":134,"height":7,"is_default":true,"order":794,"weight":160,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"flame-body","url":"https://<pokeapi>/api/v2/ability/49/"}},{"is_hidden":true,"slot":3,"ability":{"name":"gale-wings","url":"https://<pokeapi>/api/v2/ability/177/"}}],"past_abilities":[],"forms":[{"name":"fletchinder","url":"https://<pokeapi>/api/v2/pokemon-form/662/"}],"game_indices":[{"game_index":662,"version":{"name":"x","url":"https://<pokeapi>/api/v2/version/23/"}},{"game_index":662,"version":{"name":"y","url":"https://<pokeapi>/api/v2/version/24/"}},{"game_index":662,"version":{"name":"omega-ruby","url":"https://<pokeapi>/api/v2/version/25/"}},{"game_index":662,"version":{"name":"alpha-sapphire","url":"https://<pokeapi>/api/v2/version/26/"}},{"game_index":662,"version":{"name":"sun","url":"https://<pokeapi>/api/v2/version/27/"}},{"game_index":662,"version":{"name":"moon","url":"https://<pokeapi>/a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/661
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a69-8Z7xk/1cO1Er85JntsKzyCDOrQg"
      Function-Execution-Id:
      - 8wt4os4ty7yj
      X-Cloud-Trace-Context:
      - '0309bcbc2e80d4d992856bcb1a379d52'
      X-Country-Code:
      - CL
      X-Pokeapi-Deploy-Date:
      - '1789002802'
      X-Pokeapi-Hash:
      - 8fe210b21c9abbe73de93670f3d5a346c80a3625
    body:
      encoding: ASCII-8BIT
      string: '{"id":661,"name":"fletchling","base_experience":56,"height":3,"is_default":true,"order":793,"weight":17,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"big-pecks","url":"https://<pokeapi>/api/v2/ability/145/"}},{"is_hidden":true,"slot":3,"ability":{"name":"gale-wings","url":"https://<pokeapi>/api/v2/ability/177/"}}],"past_abilities":[],"forms":[{"name":"fletchling","url":"https://<po[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"47060-ey1MyvZdzIOlpTTJfstUfCz+ZPE"
      function-execution-id:
      - 2tn5ysgzbufq
      x-cloud-trace-context:
      - 21255c30397c6a4cd05b2024964cdb92
      x-country-code:
      - CL
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":25,"name":"pikachu","base_experience":112,"height":4,"is_default":true,"order":35,"weight":60,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_in[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"425e6-msn0h8/OXQONiHrFwx64g6DI6wk"
      Function-Execution-Id:
      - v2e8tlwfwqjt
      X-Cloud-Trace-Context:
      - 15d34fb12b25b84e99766ea2f0e51333
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      X-Pokeapi-Deploy-Date:
      - '1790180099'
      X-Pokeapi-Hash:
      - 2b9ea590fcc62a1bce2534835e9d5d1b234a2976
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"bulbasaur","base_experience":64,"height":7,"is_default":true,"order":1,"weight":69,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"overgrow","url":"https://<pokeapi>/api/v2/ability/65/"}},{"is_hidden":true,"slot":3,"ability":{"name":"chlorophyll","url":"[...]
[...]
