---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34509-TNuGOm0Ge6Kyk2W+p2/V/GeVV5k"
      function-execution-id:
      - iqkkv156kflw
      x-cloud-trace-context:
      - 662ce8f824b5345d2535557f7f33b88b
      x-country-code:
      - BR
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1789002802'
      x-pokeapi-hash:
      - 8fe210b21c9abbe73de93670f3d5a346c80a3625
    body:
      encoding: UTF-8
      string: '{"id":172,"name":"pichu","base_experience":41,"height":3,"is_default":true,"order":34,"weight":20,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pichu","url":"https://<pokeapi>/api/v2/pokemon-form/172/"},{"name":"pichu-spiky-eared","url":"https://<pokeapi>/api/v2/pokemon-form/10065/"}],"game_indices":[{"game_index":172,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":172,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":172,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version/6/"}},{"game_index":172,"version":{"name":"ruby","url":"https://<pokeapi>/api/v2/version/7/"}},{"game_index":172,"version":{"name":"sapphire","url":"https://<pokeapi>/api/v2/version/8/"}},{"game_index":172,"version":{"name":"emerald","url":"https://<pokeapi>/api[...]
