---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/chesnaught
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"216a5-FCWoxGK/CfKv2Z+zqI637OyA87U"
      function-execution-id:
      - smqdmmxo32ix
      x-cloud-trace-context:
      - 3461a86d691829f1e5b53c5bf18cfabd
      x-country-code:
      - US
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":652,"name":"chesnaught","base_experience":239,"height":16,"is_default":true,"order":782,"weight":900,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"overgrow","url":"https://<pokeapi>/api/v2/ability/65/"}},{"is_hidden":true,"slot":3,"ability":{"name":"bulletproof","url":"https://<pokeapi>/api/v2/ability/171/"}}],"past_abilities":[],"forms":[{"name":"chesnaught","url":"https://<pokeapi>/api/v2/pokemon-form/652/"}],"game_indices":[{"game_index":652,"version":{"name":"x","url":"https://<pokeapi>/api/v2/version/23/"}},{"game_index":652,"version":{"name":"y","url":"https://<pokeapi>/api/v2/version/24/"}},{"game_index":652,"version":{"name":"omega-ruby","url":"https://<pokeapi>/api/v2/version/25/"}},{"game_index":652,"version":{"name":"alpha-sapphire","url":"https://<pokeapi>/api/v2/version/26/"}},{"game_index":652,"version":{"name":"sun","url":"https://<pokeapi>/api/v2/version/27/"}},{"game_index":652,"version":{"name":"moon","url":"https://<pokeapi>/a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/braixen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"154fb-+4HtAAfJIez7MxzPYbr299VRgp4"
      function-execution-id:
      - 8g7ihhsxkb7c
      x-cloud-trace-context:
      - 4677b19d36c9792620d42438efee5e16
      x-country-code:
      - US
      x-pokeapi-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/delphox
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1e473-aL1YUniDh/85VxzLA8X+4ZQOWwU"
      function-execution-id:
      - smqdh9byasqv
      x-cloud-trace-context:
      - d1f6f9011a38f5513b3eb0e2a7cb0a09
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.90
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":655,"name":"delphox","base_experience":240,"height":15,"is_default":true,"order":785,"weight":390,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"blaze","url":"https://<pokeapi>/api/v2/ability/66/"}},{"is_hidden":true,"slot":3,"ability":{"name":"magician","url":"https://<pokeapi>/api/v2/a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/frogadier
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13c46-E7DamE9fK1RFs8SJ0nF/OTivw9U"
      function-execution-id:
      - v324amz7mc17
      x-cloud-trace-context:
      - a7a3ec4d4906de320b2ec90502b27e63
      x-country-code:
      - US
      x-orig-a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/greninja
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1aea0-RZIOmxy8IGUw8hn/MB/5YAuLJ9w"
      function-execution-id:
      - efsbofc5lytx
      x-cloud-trace-context:
      - b27896e2ac6b882022ff72b6a87a0598
      x-country-code:
      - US
      x-orig-ac[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/dartrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fb34-PqU1Kaat7aj5nfzDQODZFspGer4"
      function-execution-id:
      - t8h9kug4mddy
      x-cloud-trace-context:
      - 86dbeb2cfc769f261172d84e8cb2dc73
      x-country-code:
      - US
      x-orig-acce[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/decidueye
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18241-WW49t4uqe/lBUvrXOT/hGj91Nwc"
      function-execution-id:
      - 1ol7q31pv20r
      x-cloud-trace-context:
      - b9a454473f1e7d1d068c8a56e8ce91c5
      x-country-code:
      - US
      x-orig-a[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/torracat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ef4c-TQHM/CLq4yiu1qnydo8nLvwFgms"
      function-execution-id:
      - 10sv5q5eyc0y
      x-cloud-trace-context:
      - b8fb3ce8ce29ff69b785ab69becfe5a4
      x-country-code:
      - US
      x-orig-acc[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/incineroar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ab27-fP41U/oF+jp7/aXMJRNINkGUe34"
      function-execution-id:
      - z85ekbdr1gf4
      x-cloud-trace-context:
      - 638e8bc88d0179f47f166bfec647a14d
      x-country-code:
      - BR
      x-orig-[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/brionne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"eb27-6e/rG5y2O+rybM3/l5pcI+FknDM"
      function-execution-id:
      - 8jgyl0s61uty
      x-cloud-trace-context:
      - 9a4d2a984e01ee176b8a48375ef05d48
      x-country-code:
      - US
      x-orig-acce[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/primarina
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15dd9-bEfSHUPXe7tTTtJ3DLFh/TI33KU"
      function-execution-id:
      - tbt0ue1cufh7
      x-cloud-trace-context:
      - 90af7ad961cb964e6a1b70bfaec0dec6
      x-country-code:
      - US
      x-orig-a[...]
