---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/133
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3901e-IrpsoJUh/g06RGn1G/fYb4UpNog"
      function-execution-id:
      - rek4qihv6hzd
      x-cloud-trace-context:
      - bc0abbe4c8fccc754ec77647dc2bd2b4
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.9
      x-pokeapi-deploy-date:
      - '1787450728'
      x-pokeapi-hash:
      - 54ab437868f053fe307ebe3eaae3ea581b3b82da
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"run-away","url":"https://<pokeapi>/api/v2/ability/50/"},"is_hidden":false,"slot":1},{"ability":{"name":"adaptability","url":"https://<pokeapi>/api/v2/ability/91/"},"is_hidden":false,"slot":2},{"ability":{"name":"anticipation","url":"https://<pokeapi>/api/v2/ability/107/"},"is_hidden":true,"slot":3}],"base_experience":65,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/133.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/133.ogg"},"forms":[{"name":"eevee","url":"https://<pokeapi>/api/v2/pokemon-form/133/"}],"game_indices":[{"game_index":102,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":102,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":102,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":133,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":133,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":133,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/ve[...]
[...]
