---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-cosplay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66f9-dqwkcTdWkOi9JFJsI91WT8ov/Ak"
      function-execution-id:
      - xwbxgue6mykb
      x-cloud-trace-context:
      - 11389e0276a25ed9f42dca0c7779195e
      x-country-code:
      - CL
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":10085,"name":"pikachu-cosplay","base_experience":112,"height":4,"is_default":false,"order":36,"weight":60,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[],"forms":[{"name":"pikachu-cosplay","url":"https://<pokeapi>/api/v2/pokemon-form/10187/"}],"game_indices":[],"held_items":[{"item":{"name":"light-ball","url":"https://<pokeapi>/api/v2/item/213/"},"version_details":[{"rarity":5,"version":{"name":"omega-ruby","url":"https://<pokeapi>/api/v2/version/25/"}},{"rarity":5,"version":{"name":"alpha-sapphire","url":"https://<pokeapi>/api/v2/version/26/"}}]}],"location_area_encounters":"https://<pokeapi>/api/v2/pokemon/10085/encounters","moves":[{"move":{"name":"thunder-punch","url":"https://<pokeapi>/api/v2/move/9/"},"version_group_details":[{"level_learned_at":0,"version_group":{"name":"omega-ruby-alpha-sapphire","url":"https://<pokeapi>/api/v2/version-group/16/"},"move_learn_method":{"name":"tutor","url":"https://<pokeapi>/api/v2/move-learn-method/3/"},"order":null}]},{"move":{"name":"slam","url":"https://<pokeapi>/api/v2/move/21/"},"version_group_details":[{"level_learned_at":37,"version_group":{"name":"omega-ruby-alpha-sapphire","url":"https://<pokeapi>/api/v2/version-group/16/"},"move_learn_method":{"name":"level-up","url":"https://<pokeapi>/api/v2/move-learn-method/1/"},"order":null}]},{"move":{"name":"tail-whip","url":"https://<pokeapi>/api/v2/move/39/"},"version_group[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-pop-star
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67bc-+17sOvqs1ixbTXH04lxf2xUbLhg"
      function-execution-id:
      - me4vklzuo3uk
      x-cloud-trace-context:
      - '059497b3d42163aa14b57671890430c7'
      x-country-code:
      - BR
      [...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-hoenn-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fff9-X4NJJbDqqFMcGHQCvpR00CfAytM"
      function-execution-id:
      - 04jfdtse09rm
      x-cloud-trace-context:
      - 0a9fea2cd574ff94a5be026dceee99e5
      x-country-code:
      - CL
      x[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-original-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"100fb-QYsMYhu78s6+5r4zE6J59NTUhIU"
      function-execution-id:
      - mvw988uxlufe
      x-cloud-trace-context:
      - 8a085191ab8747b2112b92fbaac434f5
      x-country-code:
      - CL
   [...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-phd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67b5-exNZljmrCHRbVu3pRxTNMnmLB8Q"
      function-execution-id:
      - o81kw5lr2umg
      x-cloud-trace-context:
      - c1d729b7feadca706b949984bdce28b4
      x-country-code:
      - BR
      x-pokea[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-belle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67b5-yv60jJEHIFCSaOdvLEw+ipwwqGw"
      function-execution-id:
      - 2tn5jb6gkctb
      x-cloud-trace-context:
      - 001d2c36c56e67a619d05b7ce3b199c8;o=1
      x-country-code:
      - BR
      x[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-rock-star
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67bc-r/neFHsGBhnD4bkJO10dhNmpBTk"
      function-execution-id:
      - dy7hc1js1mq7
      x-cloud-trace-context:
      - b25f4c4b5afcf09f902fbd471377cbd1
      x-country-code:
      - BR
      x[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-partner-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d9da-jub46JtqyPUHbhjZapfT+H3bKVg"
      function-execution-id:
      - l4y9c8y50jz4
      x-cloud-trace-context:
      - 258df38dd96942cbec8dd94184cc4471
      x-country-code:
      - BR
      x-orig-accept-language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":10148,"name":"pikachu-partner-cap","base_experience":112,"height":4,"is_default":false,"order":48,"weight":60,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-r[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-kalos-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11c6b-82Lx6ra8pHohzTmOqXdCXEiJO9o"
      function-execution-id:
      - pz7hf87bdaex
      x-cloud-trace-context:
      - a000c5ffdf81c62a48947c7adb889958
      x-country-code:
      - BR
      [...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-sinnoh-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1190d-kGufFkMSwKHsjFGERUctnknNgjY"
      function-execution-id:
      - dvu9h2u0fc84
      x-cloud-trace-context:
      - e783545a894aad5e608033f5e86ab129
      x-country-code:
      - BR
     [...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-unova-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"100f5-BaBTuHKF2TmDK/HOQUvLIBaMZyg"
      function-execution-id:
      - dvu999bjz0gt
      x-cloud-trace-context:
      - c9e0fc7012691c5788313504c589f326
      x-country-code:
      - BR
      [...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-starter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"410a-FCwUxkeN0X9xSOHE3fF/E7rrZrA"
      Function-Execution-Id:
      - 9h86yxk2rts1
      X-Cloud-Trace-Context:
      - 1e5abf1ec329834c944cee9492f32b0f
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: '{"id":10158,"name":"pikachu-starter","base_experience":86,"height":4,"is_default":false,"order":49,"weight":60,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[],"forms":[{"name":"pikachu-starter","url":"ht[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-alola-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1007a-ZFnb+0UGjPcB6Je1qCZZmZq+gOs"
      Function-Execution-Id:
      - mvw98qvkzpdn
      X-Cloud-Trace-Context:
      - 4664a041a62788b150b19aa824888773
      X-Country-Code:
      - BR
      [...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-world-cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ee5-lEaUzL1u8BFjOf6+11kI2IQWME8"
      Function-Execution-Id:
      - dy7hfh1ocn9r
      X-Cloud-Trace-Context:
      - 5dd17352e7bc967621ff5ae4bafdb1c8
      X-Country-Code:
      - BR
      X[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-gmax
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1985-T07T26l3Pue348mJOwjGCKInJug"
      Function-Execution-Id:
      - ge8yc46tktp9
      X-Cloud-Trace-Context:
      - df268554a2231acb70d9db99f384e19f
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,pt-PT;q=0.6,ru;q=0.5
      X-Pokeapi-Deploy-Date:
      - '1787889721'
      X-Pokeapi-Hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: ASCII-8BIT
      string: '{"id":10199,"name":"pikachu-gmax","base_experience":112,"height":210,"is_default":false,"order":-1,"weight":10000,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"}},{"is_hidden":true,"slot":3,"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"}}],"past_abilities":[],"forms":[{"name":"pikachu-gmax","url":"https://<pokeapi>/api/v2/pokemon-form/10368/"}],"game_indices":[],"held_items":[],"location_area_encounters":"https://<pokeapi>/api/v2/pokemon/10199/encounters","moves":[],"species":{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon-species/25/"},"sprites":{"other":{"home":{"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/10199.png","front_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/10199.png","front_shiny_female":null},"showdown":{"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/back/shiny/10199.gif","back_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/shiny/10199.gif","back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/back/10199.gif","front_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/10199.gif","back_shiny_female":null,"front_shiny_female":null},"dream_world":{"front_female":null,"front_default":null},"official-artwork":{"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/10199.png","front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/10199.png"}},"versions":{"generation-i":{"yellow":{"back_gray":null,"front_gray":null,"back_default":null,"front_default":null,"back_transparent":null,"front_transparent":null},"red-blue":{"back_gray":null,"front_gray":null,"back_default":null,"front_default":null,"back_transparent":null,"front_transparent":null}},"generation-v":{"icons":{"animated":{"front_default":null},"front_default":null},"black-white":{"animated":{"back_shiny":null,"back_female":null,"front_shiny":null,"back_default":null,"front_female":null,"front_default":null,"back_shiny_female":null,"front_shiny_female":null},"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/shiny/10199.png","back_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/shiny/10199.png","back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/10199.png","front_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/10199.png","back_shiny_female":null,"front_shiny_female":null}},"generation-ii":{"gold":{"back_shiny":null,"front_shiny":null,"back_default":null,"front_default":null,"front_transparent":null},"silver":{"back_shiny":null,"front_shiny":null,"back_default":null,"front_default":null,"front_transparent":null},"crystal":{"animated":{"front_shiny":null,"front_default":null},"back_shiny":null,"front_shiny":null,"back_default":null,"front_default":null,"back_transparent":null,"front_transparent":null,"back_shiny_transparent":null,"front_shiny_transparent":null}},"generation-iv":{"platinum":{"back_shiny":null,"back_female":null,"front_shiny":null,"back_default":null,"front_female":null,"front_default":null,"back_shiny_female":null,"front_shiny_female":null},"diamond-pearl":{"back_shiny":null,"back_female":null,"front_shiny":null,"back_default":null,"front_female":null,"front_default":null,"back_shiny_female":null,"front_shiny_female":null},"heartgold-soulsilver":{"back_shiny":null,"back_female":null,"front_shiny":null,"back_default":null,"front_female":null,"front_default":null,"back_shiny_female":null,"front_shiny_female":null}},"generation-ix":{"scarlet-violet":{"front_female":null,"front_default":null}},"generation-vi":{"x-y":{"front_shiny":null,"front_female":null,"front_default":null,"front_shiny_female":null},"omegaruby-alphasapphire":{"front_shiny":null,"front_female":null,"front_default":null,"front_shiny_female":null}},"generation-iii":{"emerald":{"front_shiny":null,"front_default":null},"ruby-sapphire":{"back_shiny":null,"front_shiny":null,"back_default":null,"front_default":null},"firered-leafgreen":{"back_shiny":null,"front_shiny":null,"back_default":null,"front_default":null}},"generation-vii":{"icons":{"front_female":null,"front_default":null},"ultra-sun-ultra-moon":{"front_shiny":null,"front_female":null,"front_default":null,"front_shiny_female":null}},"generation-viii":{"icons":{"front_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/10199.png"},"brilliant-diamond-shining-pearl":{"front_female":null,"front_default":null}}},"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/10199.png","back_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/10199.png","back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/10199.png","front_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10199.png","back_shiny_female":null,"front_shiny_female":null},"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/10199.ogg","legacy":null},"stats":[{"base_stat":35,"effort":0,"stat":{"name":"hp","url":"https://<pokeapi>/api/v2/stat/1/"}},{"base_stat":55,"effort":0,"stat":{"name":"attack","url":"https://<pokeapi>/api/v2/stat/2/"}},{"base_stat":40,"effort":0,"stat":{"name":"defense","url":"https://<pokeapi>/api/v2/stat/3/"}},{"base_stat":50,"effort":0,"stat":{"name":"special-attack","url":"https://<pokeapi>/api/v2/stat/4/"}},{"base_stat":50,"effort":0,"stat":{"name":"special-defense","url":"https://<pokeapi>/api/v2/stat/5/"}},{"base_stat":90,"effort":2,"stat":{"name":"speed","url":"https://<pokeapi>/api/v2/stat/6/"}}],"past_stats":[],"types":[{"slot":1,"type":{"name":"electric","url":"https://<pokeapi>/api/v2/type/13/"}}],"past_types":[]}'
  recorded_at: Tue, 08 Sep 2026 17:24:26 GMT
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu-libre
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66e7-XAfNtqMiuEECmvwxH/NWRCUyQLM"
      Function-Execution-Id:
      - ks9du1dpchs1
      X-Cloud-Trace-Context:
      - d8ebb129077b556839cc06ddcd0bb5ed
      X-Country-Code:
      - BR
      X-Pok[...]
[...]
