---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"46e1f-GHJIs0RWM+RDrnAi/zkZuyTZMrg"
      function-execution-id:
      - j81rddkhvhtl
      x-cloud-trace-context:
      - 257fc937579d35c2cfa1021604f1dacd
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.9
      x-pokeapi-deploy-date:
      - '1787450728'
      x-pokeapi-hash:
      - 54ab437868f053fe307ebe3eaae3ea581b3b82da
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"static","url":"https://<pokeapi>/api/v2/ability/9/"},"is_hidden":false,"slot":1},{"ability":{"name":"lightning-rod","url":"https://<pokeapi>/api/v2/ability/31/"},"is_hidden":true,"slot":3}],"base_experience":112,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/25.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/25.ogg"},"forms":[{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":25,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":25,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":25,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon-species/25/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c6ac-LT2NQ+vE4DM80aqfw14FVCByRsg"
      function-execution-id:
      - 5qazay28z0z2
      x-cloud-trace-context:
      - 9d64d3ea331f82f2282abf44c83db8e2
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.9
      x-pokeapi-deploy-date:
      - '1785055573'
      x-pokeapi-hash:
      - fb1605aac09064bb34a12a8b790c2b800b4d0550
    body:
      encoding: UTF-8
      string: '{"base_happiness":70,"capture_rate":190,"color":{"name":"yellow","url":"https://<pokeapi>/api/v2/pokemon-color/10/"},"egg_groups":[{"name":"ground","url":"https://<pokeapi>/api/v2/egg-group/5/"},{"name":"fairy","url":"https://<pokeapi>/api/v2/egg-group/6/"}],"evolution_chain":{"url":"https://<pokeapi>/api/v2/evolution-chain/10/"},"evolves_from_species":{"name":"pichu","url":"https://<pokeapi>/api/v2/pokemon-species/172/"},"flavor_text_entries":[{"flavor_text":"When
        several of\nthese POKéMON\ngather, their\felectricity could\nbuild and cause\nlightning
        storms.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"},"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"flavor_text":"When
        several of\nthese POKéMON\ngather, their\felectricity could\nbuild and cause\nlightning
        storms.","language":{"name":"en","url":"https://<pokeapi>/api/v2/language/9/"},"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"flavor_text":"It
        keeps its tail\nraised to monitor\nits surroundings.\fIf you yank its[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/evolution-chain/10/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b97-rSqnNI7CDdEbL7Xyiprq+EYoS4o"
      function-execution-id:
      - s0t050vcpift
      x-cloud-trace-context:
      - 2dad8c014d46ec40a3e1b2b7c1647b5d
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.9
      x-pokeapi-deploy-date:
      - '1787450728'
      x-pokeapi-hash:
      - 54ab437868f053fe307ebe3eaae3ea581b3b82da
    body:
      encoding: UTF-8
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"base_form":null,"evolved_form":null,"gender":null,"held_item":null,"is_default":true,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_damage_taken":null,"min_happiness":220,"min_level":null,"min_move_count":null,"min_steps":null,"near_special_rock":false,"needs_multiplayer":false,"needs_overworld_rain":false,"party_species":null,"party_type":null,"region":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://<pokeapi>/api/v2/evolution-trigger/1/"},"turn_upside_down":false,"used_move":null,"version_group":{"name":"red-blue","url":"https://<pokeapi>/api/v2/version-group/1/"}}],"evolves_to":[{"evolution_details":[{"base_form":{"name":"pikachu","url":"https://<pokeapi>/api/v2/pokemon/25/"},"evolved_form":null,"gender":null,"held_item":null,"is_default":true,"item":{"name":"thunder-stone","url":"https://<pokeapi>/api/v2/item/83/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_damage_taken":null,"min_happiness":null,"min_level":null,"min_move_coun[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"424a1-XVpFRsN9zojwqYH3hxLpV+4m5hw"
      function-execution-id:
      - 51tggtg5xuxr
      x-cloud-trace-context:
      - 23265aca45c75a6b28a927ad92967b51
      x-country-code:
      - US
      x-orig-a[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"49b4f-QAllxli62F5RvjgFbc6e4238Fws"
      function-execution-id:
      - ezu84gu808nk
      x-cloud-trace-context:
      - 915db4431eed637389386eed80d97313
      x-country-code:
      - US
      x-orig-[...]
[...]
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/squirtle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4a6f7-g+YVrbyrOHHDhvJPNivGi29sJrg"
      function-execution-id:
      - fp9zvmf9ox24
      x-cloud-trace-context:
      - 4726d044d5b70c65fbcee2e0a9e4b216
      x-country-code:
      - US
      x-orig-ac[...]
