---
http_interactions:
- request:
    method: get
    uri: https://<pokeapi>/api/v2/pokemon/16
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"321ea-NlVuoCO++bfGJJWG1tnymR6LQLw"
      function-execution-id:
      - 81q2wknxchkf
      x-cloud-trace-context:
      - 582c05aa53384cc79011003eedf9940f;o=1
      x-country-code:
      - US
      x-orig-accept-language:
      - es-419,es;q=0.7
      x-pokeapi-deploy-date:
      - '1787889721'
      x-pokeapi-hash:
      - 7af36d9f3424366ffc46e90d94c8bc120df39cd0
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"pidgey","base_experience":50,"height":3,"is_default":true,"order":21,"weight":18,"abilities":[{"is_hidden":false,"slot":1,"ability":{"name":"keen-eye","url":"https://<pokeapi>/api/v2/ability/51/"}},{"is_hidden":false,"slot":2,"ability":{"name":"tangled-feet","url":"https://<pokeapi>/api/v2/ability/77/"}},{"is_hidden":true,"slot":3,"ability":{"name":"big-pecks","url":"https://<pokeapi>/api/v2/ability/145/"}}],"past_abilities":[{"generation":{"name":"generation-iii","url":"https://<pokeapi>/api/v2/generation/3/"},"abilities":[{"is_hidden":false,"slot":2,"ability":null}]},{"generation":{"name":"generation-iv","url":"https://<pokeapi>/api/v2/generation/4/"},"abilities":[{"is_hidden":true,"slot":3,"ability":null}]}],"forms":[{"name":"pidgey","url":"https://<pokeapi>/api/v2/pokemon-form/16/"}],"game_indices":[{"game_index":36,"version":{"name":"red","url":"https://<pokeapi>/api/v2/version/1/"}},{"game_index":36,"version":{"name":"blue","url":"https://<pokeapi>/api/v2/version/2/"}},{"game_index":36,"version":{"name":"yellow","url":"https://<pokeapi>/api/v2/version/3/"}},{"game_index":16,"version":{"name":"gold","url":"https://<pokeapi>/api/v2/version/4/"}},{"game_index":16,"version":{"name":"silver","url":"https://<pokeapi>/api/v2/version/5/"}},{"game_index":16,"version":{"name":"crystal","url":"https://<pokeapi>/api/v2/version[...]
[...]
